<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<h1>Vue examples</h1>

<h2>Hello World</h2>
<div id="app-1">
  {{ message }}
</div>
<script>
  var app1 = new Vue({
    el: '#app-1',
    data: {
      message: 'Hello World!'
    }
  });
</script>

<h2>Binding attributes (title in this case)</h2>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me to see my dynamically bound title!
  </span>
</div>
<script>

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'Page loaded on ' + new Date().toLocaleString()
    }
  });
</script>

<h2>Conditionals and Loops</h2>
<h3>If Statements</h3>
<div id="app-3">
  <span v-if="seen">Now you see me.</span>
</div>
<script>

  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: true
    }
  })

</script>

<h3>Loops</h3>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<script>
var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Apply for new job.'},
      { text: 'Take out garbage.'},
      { text: 'Sweep kitchen.'}
    ]
  } 
})

</script>

<h2>Handling User Input</h2>
<h3>v-on</h3>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse the message</button>
</div>
<script>

  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Here\'s a message to reverse.'
    },
    methods: {
      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('');
      }
    }
  })

</script>

<h3>v-model</h3>
<div id="app-6">
  <p>{{ message }}</p>
  <input type="number" v-model="message">
</div>
<script>

  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 1
    }
  });

</script>

<h2>Composing with Components</h2>
<div id="app-7">
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>
<script>
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        { id: 0, text: 'Pie' },
        { id: 1, text: 'Cookies' },
        { id: 2, text: 'Something else that people eat'}
      ]
    }
  })
</script>

<h2>Freezing an Object to prevent changes</h2>
<div id="app-8">
  <p>{{ time }}</p>
  <button v-on:click="time = new Date()">Update time</button>
</div>
<script>

var obj = {
  time: new Date()
}

Object.freeze(obj)

new Vue({
  el: '#app-8',
  data: obj
})

</script>

<h2>Instance Properties</h2>
<div id="example">
</div>
<script>

var data = { a: 1 }
var vm = new Vue({
  el: '#example',
  data: data
})

</script>

<h2>Instance Lifecycle Hooks</h2>
<script>
var lifeCycle = new Vue({
  data: {
    a: 1
  },
  created: function () {
    // `this` points to the vm instance
    console.log('created, a is: ' + this.a)
  },
  mounted: function () {
    console.log('mounted, a is:' + this.a);
  },
  updated: function () {
    console.log('updated, a is:' + this.a);
  },
  destroyed: function () {
    console.log('destroyed, a is:' + this.a);
  },
})

</script>

<h2>Template Syntax</h2>
<p><strong>Interpolations</strong></p>
<p>Definition according to Merriam-Websters:<br>
-  something that is introduced or inserted : an insertion or addition<br>
- act of interpolating something or the state of being interpolated : the introduction or insertion of something spurious or foreign</p>

<h3>Text</h3>
<div id="app-9">
  <div>Message: {{ message }}</div>
  <div v-once>Message that never changes because of v-once: {{ message }}</div>
  <button v-on:click="message = 'Some new message'">Change message</button>
</div>
<script>

var app9 = new Vue({
  el: '#app-9',
  data: {
    message: 'Here\'s a message'
  }
})

</script>

<h3>Raw HTML</h3>
<div id="app-10">
  <p>Using mustaches: {{ rawHtml }}</p>
  <p>Using v-html directive: <span v-html="rawHtml"></span></p>
</div>
<script>

var app10 = new Vue({
  el: '#app-10',
  data: {
    rawHtml: '<span style="color:blue;">Some blue text</span>'
  }
});

</script>

<h3>Attributes</h3>
<style>
  .hidden {
    display: none;
  }
</style>
<div id="app-11">
  <div>The text below is hidden</div>
  <div v-bind:class="{ hidden: isHidden }">Some text to hide</div>
  <button v-bind:disabled="{ isDisabled }">A disabled button</button>
</div>
<script>

var app11 = new Vue({
  el: '#app-11',
  data: {
    isHidden: true,
    isDisabled: true
  }
});

</script>

<h3>Using JavaScript Expressions</h3>
<div id="app-12">
  <div>{{ 'Product name: ' + productName }}</div>
  <div>{{ 'Price: ' + ((productPrice * taxRate) / 100).toFixed(2) }}</div>
  <div>{{ available ? 'Available' : 'Out of stock' }}</div>
</div>
<script>

  var app12 = new Vue({
    el: '#app-12',
    data: {
      productName: 'Fancy widget',
      productPrice: 19999,
      taxRate: 1.055,
      available: true
    }
  })

</script>

<h2>Directives</h2>
<h3>Arguments</h3>
<div id="app-13">
  <a v-bind:href="url">Some link</a>
<button v-on:click="handleClick">{{ buttonText }}</button>
</div>
<script>

  var app13 = new Vue({
    el: '#app-13',
    data: {
      url: 'https://hilson.io',
      buttonText: 'Click me!'
    },
    methods: {
      handleClick: function() {
        this.buttonText = 'I have been clicked!';
      }
    }
  })

</script>

<h3>Dynamic arguments</h3>
<div id="app-14">
  <p>Number of times an event has been triggered: {{ count }}</p>
  <!-- Camelcase and kebab case won't work here, so use snake case -->
  <button v-on:[some_event]="triggerButton">A button</button>
</div>
<script>

  var app14 = new Vue({
    el: '#app-14',
    data: {
      count: 0,
      some_event: "mouseover"
    },
    methods: {
      triggerButton: function() {
        this.count++;
      }
    }
  })

</script>

<h3>Modifiers</h3>
<div id="app-15">
  <form v-on:submit.prevent="submitForm">
    <p>{{ message }}</p>
    <button type="submit">Submit</button>
  </form>
</div>
<script>
  var app15 = new Vue({
    el: '#app-15',
    data: {
      message: ''
    },
    methods: {
      submitForm: function() {
        this.message = 'This form was prevented from submitting.'
      }
    }
  });
</script>

<h3>Shorthands</h3>
<div id="app-16">
  <a v-bind:href="websiteUrl">A link to my website using regular v-bind syntax</a><br>
  <a :href="githubUrl">A link to my github using the shorthand v-bind syntax</a><br>
  <button v-on:click="changeFirstButtonText">{{ firstButtonText }}</button><br>
  <button @click="changeSecondButtonText">{{ secondButtonText }}</button>
</div>
<script>
  var app16 = new Vue({
    el: '#app-16',
    data: {
      websiteUrl: 'https://www.hilson.io',
      githubUrl: 'https://github.com/BrianHilson',
      firstButtonText: 'Button with onclick event using regular v-bind syntax',
      secondButtonText: 'Button with onclick event using shorthand v-bind syntax'
    },
    methods: {
      changeFirstButtonText: function() {
        this.firstButtonText = 'First button text changed';
      },
      changeSecondButtonText: function() {
        this.secondButtonText = 'Second button text changed';
      }
    }
  });
  
</script>

<h2>Computed Properties and Watchers</h2>

<h3>Computed Properties</h3>
<div id="app-17">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: {{ reversedMessage }}</p>
</div>
<script>
  var app17 = new Vue({
    el: '#app-17',
    data: {
      message: 'Hello'
    },
    computed: {
      reversedMessage: function() {
        return this.message.split('').reverse().join('');
      }
    }
  })
</script>

<h3>Using Watch vs. Computed Properties</h3>
<h4>Watch</h4>
<div id="app-18">
  <p>{{ fullName }}</p>
</div>
<script>
  var app18 = new Vue({
    el: '#app-18',
    data: {
      firstName: 'Brian',
      lastName: 'Hilson',
      fullName: 'Brian Hilson'
    },
    watch: {
      firstName: function(val) {
        this.fullName = val + ' ' + this.lastName;
      },
      lastName: function(val) {
        this.fullName = this.firstName + ' ' + val;
      }
    }
  })
</script>

<h4>Computed</h4>
<div id="app-19">
  <p>{{ fullName }}</p>
</div>
<script>
  var app19 = new Vue ({
    el: '#app-19',
    data: {
      firstName: 'Brian',
      lastName: 'Hilson'
    },
    computed: {
      fullName: function() {
        return this.firstName + ' ' + this.lastName;
      }
    }
  })
</script>

<h3>Computed Setter</h3>
<div id="app-20">
  <p>{{ fullName }}</p>
</div>
<script>
  var app20 = new Vue ({
    el: '#app-20',
    data: {
      firstName: 'Brian',
      lastName: 'Hilson'
    },
    computed: {
      fullName: {
        get: function() {
          return this.firstName + ' ' + this.lastName;
        },
        set: function (newValue) {
          var names = newValue.split(' ');
          this.firstName = names[0];
          this.lastName = names[names.length - 1];
        }
      }
    }
  })
</script>

<h3>Watchers</h3>
<div id="app-21">
  <p>Ask a yes/no question.<br>
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
  var app21 = new Vue ({
    el: '#app-21',
    data: {
      question: '',
      answer: 'Please ask a question.'
    },
    watch: {
      question: function(oldQuestion, newQuestion) {
        this.answer = 'Waiting until you\'re done typing...';
        this.debouncedGetAnswer();
      }
    },
    created: function() {
      this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);
    },
    methods: {
      getAnswer: function() {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Please ask a question.'
          return
        }

        this.answer = 'Thinking...';
        var vm = this;
        axios.get('https://yesno.wtf/api')
          .then(function(response) {
            vm.answer = _.capitalize(response.data.answer);
            conosle.log('here');
          })
          .catch(function (error) {
            vm.anwer = 'Hmm, api seems to be not responding.'
          });
      }
    }
  })
</script>

<h2>Class and Style Bindings</h2>
<h3>Binding HTML Classes</h3>
<h4>Object Syntax</h4>
<style>
  div.normal {
    color: grey;
  }

  div.active {
    color: green;
  }

  div.active.danger {
    color: red;
  }
</style>
<div id="app-22">
  <div 
    class="normal"
    v-bind:class="{ active: isActive, danger: hasError}"
  >Some text</div>
</div>
<script>
  var app22 = new Vue ({
    el: '#app-22',
    data: {
      isActive: true,
      hasError: false
    }
  })
</script>

<h4>Array syntax</h4>
<style>
  .low-importance {
    color: blue;
  }

  .high-importance {
    color: purple;
  }

  .visible {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }
</style>
<div id="app-23">
  <div v-bind:class="[importance, visibility]">A message which may be important, or not</div>
</div>
<script>
  var app23 = new Vue ({
    el: '#app-23 ',
    data: {
      importance: 'high-importance',
      visibility: 'visible'
    }
  })
</script>

<h3>Binding Inline Styles</h3>
<h4>Object Syntax</h4>
<div id="app-24">
  <div v-bind:style="{ color: thisColor, fontSize: fontSize + 'px' }">Some inline styles</div>
  <div v-bind:style="baseStyles">Using an object in the data properties instead</div>
  <div v-bind:style="[ baseStyles, extraStyles ]">Using array syntax with styles</div>
</div>
<script>
  var app24 = new Vue ({
    el: '#app-24',
    data: {
      thisColor: 'orange',
      fontSize: '25',
      baseStyles: {
        color: 'green',
        fontSize: '22px',
        letterSpacing: '3px'
      },
      extraStyles: {
        backgroundColor: 'black',
        color: 'white',
        boxShadow: '2px 2px 2px #000'
      }
    }
  })
</script>

<h3>Conditional Rendering</h3>
<h4>v-if, v-else</h4>
<div id="app-25">
  <p v-if="showMessage">Some message which may display</p>
  <p v-if="showMessage">Another message which may display</p>
  <p v-else>Message not displaying, so show this</p>
</div>
<script>
  var app25 = new Vue ({
    el: '#app-25',
    data: {
      showMessage: true
    }
  })
</script>

<h4>v-else-if</h4>
<div id="app-26">
  <p v-if="paragraphToShow === 'a'">A</p>
  <p v-else-if="paragraphToShow === 'b'">B</p>
  <p v-else-if="paragraphToShow === 'c'">C</p>
  <p v-else>Something other than a, b, or c</p>
</div>
<script>
  var app26 = new Vue ({
    el: '#app-26',
    data: {
      paragraphToShow: 'a'
    }
  })
</script>

<h4>Controlling Reusable Elements with key</h4>
<h5>Elements being reused, for efficiency and usability</h5>
<div id="app-27">
  <template v-if="searchType === 'name'">
    <label for="name">Name</label>
    <input type="text" placeholder="Search for user by name" name="name" id="name">
  </template>
  <template v-else>
    <label for="phoneNumber">Phone number</label>
    <input type="text" placeholder="Search for user by phone number" name="phoneNumber" id="phoneNumber">
  </template><br>
  <button v-on:click="(searchType === 'name') ? searchType = 'other' : searchType = 'name'">Change search type</button>
</div>
<script>

  var app27 = new Vue ({
    el: '#app-27',
    data: {
      searchType: 'name'
    }
  })

</script>
<h5>Elements being replaced by using key</h5>
<div id="app-28">
  <template v-if="searchType === 'name'">
    <label for="name">Name</label>
    <input type="text" placeholder="Search for user by name" name="name" id="name" key="name-input">
  </template>
  <template v-else>
    <label for="phoneNumber">Phone number</label>
    <input type="text" placeholder="Search for user by phone number" name="phoneNumber" id="phoneNumber" key="phone-number-input">
  </template><br>
  <button v-on:click="(searchType === 'name') ? searchType = 'other' : searchType = 'name'">Change search type</button>
</div>
<script>

  var app28 = new Vue ({
    el: '#app-28',
    data: {
      searchType: 'name'
    }
  })

</script>

<h3>v-show</h3>
<div id="app-29">
  <p v-show="display">Some text which may be displayed</p>
</div>
<script>
  var app29 = new Vue ({
    el: '#app-29',
    data: {
      display: true
    }
  })
</script>

<h2>List Rendering</h2>
<h3>Mapping an Array to Elements with v-for</h3>
<h4>Minimal example</h4>
<div id="app-30">
  <ul>
    <li v-for="fruit in fruits">
      {{ fruit.name }}
    </li>
  </ul>
</div>
<script>
  var app30 = new Vue ({
    el: '#app-30',
    data: {
      fruits: [
        { name: 'apple' },
        { name: 'pear' },
        { name: 'banana' }
      ]
    }
  })
</script>

<h4>Example with index</h4>
<div id="app-31">
  <ul>
    <li v-for="(fruit, index) of fruits">
      {{ 'Fruit: ' + fruit.name + ', Index: ' + index + ', Company: ' + company }}
    </li>
  </ul>
</div>
<script>
  var app31 = new Vue ({
    el: '#app-31',
    data: {
      fruits: [
        { name: 'apple' },
        { name: 'pear' },
        { name: 'banana' }
      ],
      company: 'Chippewa Valley Fruit Growers'
    }
  })
</script>
<!-- Start with: https://vuejs.org/v2/guide/list.html#v-for-with-an-Object
file:///Users/hilsonbj/Desktop/programming/github/vue-learning-projects/first-vue-app.html -->
</body>
</html>
