<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    body {
      max-width: 800px;
      font-family: Arial, Helvetica, "Roboto", sans-serif;
      color: #333;
      margin: auto;
    }
    
    h2 {
      color: #1d57df;
      text-decoration: underline;
      margin-top: 3rem;
      font-weight: 400;
    }
  </style>
</head>
<body>
<h1>Vue examples</h1>

<h2>Hello World</h2>
<div id="app-1">
  {{ message }}
</div>
<script>
  var app1 = new Vue({
    el: '#app-1',
    data: {
      message: 'Hello World!'
    }
  });
</script>

<h2>Binding attributes (title in this case)</h2>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me to see my dynamically bound title!
  </span>
</div>
<script>

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'Page loaded on ' + new Date().toLocaleString()
    }
  });
</script>

<h2>Conditionals and Loops</h2>
<h3>If Statements</h3>
<div id="app-3">
  <span v-if="seen">Now you see me.</span>
</div>
<script>

  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: true
    }
  })

</script>

<h3>Loops</h3>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<script>
var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Apply for new job.'},
      { text: 'Take out garbage.'},
      { text: 'Sweep kitchen.'}
    ]
  } 
})

</script>

<h2>Handling User Input</h2>
<h3>v-on</h3>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse the message</button>
</div>
<script>

  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Here\'s a message to reverse.'
    },
    methods: {
      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('');
      }
    }
  })

</script>

<h3>v-model</h3>
<div id="app-6">
  <p>{{ message }}</p>
  <input type="number" v-model="message">
</div>
<script>

  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 1
    }
  });

</script>

<h2>Composing with Components</h2>
<div id="app-7">
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>
<script>
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        { id: 0, text: 'Pie' },
        { id: 1, text: 'Cookies' },
        { id: 2, text: 'Something else that people eat'}
      ]
    }
  })
</script>

<h2>Freezing an Object to prevent changes</h2>
<div id="app-8">
  <p>{{ time }}</p>
  <button v-on:click="time = new Date()">Update time</button>
</div>
<script>

var obj = {
  time: new Date()
}

Object.freeze(obj)

new Vue({
  el: '#app-8',
  data: obj
})

</script>

<h2>Instance Properties</h2>
<div id="example">
</div>
<script>

var data = { a: 1 }
var vm = new Vue({
  el: '#example',
  data: data
})

</script>

<h2>Instance Lifecycle Hooks</h2>
<script>
var lifeCycle = new Vue({
  data: {
    a: 1
  },
  created: function () {
    // `this` points to the vm instance
    console.log('created, a is: ' + this.a)
  },
  mounted: function () {
    console.log('mounted, a is:' + this.a);
  },
  updated: function () {
    console.log('updated, a is:' + this.a);
  },
  destroyed: function () {
    console.log('destroyed, a is:' + this.a);
  },
})

</script>

<h2>Template Syntax</h2>
<p><strong>Interpolations</strong></p>
<p>Definition according to Merriam-Websters:<br>
-  something that is introduced or inserted : an insertion or addition<br>
- act of interpolating something or the state of being interpolated : the introduction or insertion of something spurious or foreign</p>

<h3>Text</h3>
<div id="app-9">
  <div>Message: {{ message }}</div>
  <div v-once>Message that never changes because of v-once: {{ message }}</div>
  <button v-on:click="message = 'Some new message'">Change message</button>
</div>
<script>

var app9 = new Vue({
  el: '#app-9',
  data: {
    message: 'Here\'s a message'
  }
})

</script>

<h3>Raw HTML</h3>
<div id="app-10">
  <p>Using mustaches: {{ rawHtml }}</p>
  <p>Using v-html directive: <span v-html="rawHtml"></span></p>
</div>
<script>

var app10 = new Vue({
  el: '#app-10',
  data: {
    rawHtml: '<span style="color:blue;">Some blue text</span>'
  }
});

</script>

<h3>Attributes</h3>
<style>
  .hidden {
    display: none;
  }
</style>
<div id="app-11">
  <div>The text below is hidden</div>
  <div v-bind:class="{ hidden: isHidden }">Some text to hide</div>
  <button v-bind:disabled="{ isDisabled }">A disabled button</button>
</div>
<script>

var app11 = new Vue({
  el: '#app-11',
  data: {
    isHidden: true,
    isDisabled: true
  }
});

</script>

<h3>Using JavaScript Expressions</h3>
<div id="app-12">
  <div>{{ 'Product name: ' + productName }}</div>
  <div>{{ 'Price: ' + ((productPrice * taxRate) / 100).toFixed(2) }}</div>
  <div>{{ available ? 'Available' : 'Out of stock' }}</div>
</div>
<script>

  var app12 = new Vue({
    el: '#app-12',
    data: {
      productName: 'Fancy widget',
      productPrice: 19999,
      taxRate: 1.055,
      available: true
    }
  })

</script>

<h2>Directives</h2>
<h3>Arguments</h3>
<div id="app-13">
  <a v-bind:href="url">Some link</a>
<button v-on:click="handleClick">{{ buttonText }}</button>
</div>
<script>

  var app13 = new Vue({
    el: '#app-13',
    data: {
      url: 'https://hilson.io',
      buttonText: 'Click me!'
    },
    methods: {
      handleClick: function() {
        this.buttonText = 'I have been clicked!';
      }
    }
  })

</script>

<h3>Dynamic arguments</h3>
<div id="app-14">
  <p>Number of times an event has been triggered: {{ count }}</p>
  <!-- Camelcase and kebab case won't work here, so use snake case -->
  <button v-on:[some_event]="triggerButton">A button</button>
</div>
<script>

  var app14 = new Vue({
    el: '#app-14',
    data: {
      count: 0,
      some_event: "mouseover"
    },
    methods: {
      triggerButton: function() {
        this.count++;
      }
    }
  })

</script>

<h3>Modifiers</h3>
<div id="app-15">
  <form v-on:submit.prevent="submitForm">
    <p>{{ message }}</p>
    <button type="submit">Submit</button>
  </form>
</div>
<script>
  var app15 = new Vue({
    el: '#app-15',
    data: {
      message: ''
    },
    methods: {
      submitForm: function() {
        this.message = 'This form was prevented from submitting.'
      }
    }
  });
</script>

<h3>Shorthands</h3>
<div id="app-16">
  <a v-bind:href="websiteUrl">A link to my website using regular v-bind syntax</a><br>
  <a :href="githubUrl">A link to my github using the shorthand v-bind syntax</a><br>
  <button v-on:click="changeFirstButtonText">{{ firstButtonText }}</button><br>
  <button @click="changeSecondButtonText">{{ secondButtonText }}</button>
</div>
<script>
  var app16 = new Vue({
    el: '#app-16',
    data: {
      websiteUrl: 'https://www.hilson.io',
      githubUrl: 'https://github.com/BrianHilson',
      firstButtonText: 'Button with onclick event using regular v-bind syntax',
      secondButtonText: 'Button with onclick event using shorthand v-bind syntax'
    },
    methods: {
      changeFirstButtonText: function() {
        this.firstButtonText = 'First button text changed';
      },
      changeSecondButtonText: function() {
        this.secondButtonText = 'Second button text changed';
      }
    }
  });
  
</script>

<h2>Computed Properties and Watchers</h2>

<h3>Computed Properties</h3>
<div id="app-17">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: {{ reversedMessage }}</p>
</div>
<script>
  var app17 = new Vue({
    el: '#app-17',
    data: {
      message: 'Hello'
    },
    computed: {
      reversedMessage: function() {
        return this.message.split('').reverse().join('');
      }
    }
  })
</script>

<h3>Using Watch vs. Computed Properties</h3>
<h4>Watch</h4>
<div id="app-18">
  <p>{{ fullName }}</p>
</div>
<script>
  var app18 = new Vue({
    el: '#app-18',
    data: {
      firstName: 'Brian',
      lastName: 'Hilson',
      fullName: 'Brian Hilson'
    },
    watch: {
      firstName: function(val) {
        this.fullName = val + ' ' + this.lastName;
      },
      lastName: function(val) {
        this.fullName = this.firstName + ' ' + val;
      }
    }
  })
</script>

<h4>Computed</h4>
<div id="app-19">
  <p>{{ fullName }}</p>
</div>
<script>
  var app19 = new Vue ({
    el: '#app-19',
    data: {
      firstName: 'Brian',
      lastName: 'Hilson'
    },
    computed: {
      fullName: function() {
        return this.firstName + ' ' + this.lastName;
      }
    }
  })
</script>

<h3>Computed Setter</h3>
<div id="app-20">
  <p>{{ fullName }}</p>
</div>
<script>
  var app20 = new Vue ({
    el: '#app-20',
    data: {
      firstName: 'Brian',
      lastName: 'Hilson'
    },
    computed: {
      fullName: {
        get: function() {
          return this.firstName + ' ' + this.lastName;
        },
        set: function (newValue) {
          var names = newValue.split(' ');
          this.firstName = names[0];
          this.lastName = names[names.length - 1];
        }
      }
    }
  })
</script>

<h3>Watchers</h3>
<div id="app-21">
  <p>Ask a yes/no question.<br>
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
  var app21 = new Vue ({
    el: '#app-21',
    data: {
      question: '',
      answer: 'Please ask a question.'
    },
    watch: {
      question: function(oldQuestion, newQuestion) {
        this.answer = 'Waiting until you\'re done typing...';
        this.debouncedGetAnswer();
      }
    },
    created: function() {
      this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);
    },
    methods: {
      getAnswer: function() {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Please ask a question.'
          return
        }

        this.answer = 'Thinking...';
        var vm = this;
        axios.get('https://yesno.wtf/api')
          .then(function(response) {
            vm.answer = _.capitalize(response.data.answer);
            conosle.log('here');
          })
          .catch(function (error) {
            vm.anwer = 'Hmm, api seems to be not responding.'
          });
      }
    }
  })
</script>

<h2>Class and Style Bindings</h2>
<h3>Binding HTML Classes</h3>
<h4>Object Syntax</h4>
<style>
  div.normal {
    color: grey;
  }

  div.active {
    color: green;
  }

  div.active.danger {
    color: red;
  }
</style>
<div id="app-22">
  <div 
    class="normal"
    v-bind:class="{ active: isActive, danger: hasError}"
  >Some text</div>
</div>
<script>
  var app22 = new Vue ({
    el: '#app-22',
    data: {
      isActive: true,
      hasError: false
    }
  })
</script>

<h4>Array syntax</h4>
<style>
  .low-importance {
    color: blue;
  }

  .high-importance {
    color: purple;
  }

  .visible {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }
</style>
<div id="app-23">
  <div v-bind:class="[importance, visibility]">A message which may be important, or not</div>
</div>
<script>
  var app23 = new Vue ({
    el: '#app-23 ',
    data: {
      importance: 'high-importance',
      visibility: 'visible'
    }
  })
</script>

<h3>Binding Inline Styles</h3>
<h4>Object Syntax</h4>
<div id="app-24">
  <div v-bind:style="{ color: thisColor, fontSize: fontSize + 'px' }">Some inline styles</div>
  <div v-bind:style="baseStyles">Using an object in the data properties instead</div>
  <div v-bind:style="[ baseStyles, extraStyles ]">Using array syntax with styles</div>
</div>
<script>
  var app24 = new Vue ({
    el: '#app-24',
    data: {
      thisColor: 'orange',
      fontSize: '25',
      baseStyles: {
        color: 'green',
        fontSize: '22px',
        letterSpacing: '3px'
      },
      extraStyles: {
        backgroundColor: 'black',
        color: 'white',
        boxShadow: '2px 2px 2px #000'
      }
    }
  })
</script>

<h3>Conditional Rendering</h3>
<h4>v-if, v-else</h4>
<div id="app-25">
  <p v-if="showMessage">Some message which may display</p>
  <p v-if="showMessage">Another message which may display</p>
  <p v-else>Message not displaying, so show this</p>
</div>
<script>
  var app25 = new Vue ({
    el: '#app-25',
    data: {
      showMessage: true
    }
  })
</script>

<h4>v-else-if</h4>
<div id="app-26">
  <p v-if="paragraphToShow === 'a'">A</p>
  <p v-else-if="paragraphToShow === 'b'">B</p>
  <p v-else-if="paragraphToShow === 'c'">C</p>
  <p v-else>Something other than a, b, or c</p>
</div>
<script>
  var app26 = new Vue ({
    el: '#app-26',
    data: {
      paragraphToShow: 'a'
    }
  })
</script>

<h4>Controlling Reusable Elements with key</h4>
<h5>Elements being reused, for efficiency and usability</h5>
<div id="app-27">
  <template v-if="searchType === 'name'">
    <label for="name">Name</label>
    <input type="text" placeholder="Search for user by name" name="name" id="name">
  </template>
  <template v-else>
    <label for="phoneNumber">Phone number</label>
    <input type="text" placeholder="Search for user by phone number" name="phoneNumber" id="phoneNumber">
  </template><br>
  <button v-on:click="(searchType === 'name') ? searchType = 'other' : searchType = 'name'">Change search type</button>
</div>
<script>

  var app27 = new Vue ({
    el: '#app-27',
    data: {
      searchType: 'name'
    }
  })

</script>
<h5>Elements being replaced by using key</h5>
<div id="app-28">
  <template v-if="searchType === 'name'">
    <label for="name">Name</label>
    <input type="text" placeholder="Search for user by name" name="name" id="name" key="name-input">
  </template>
  <template v-else>
    <label for="phoneNumber">Phone number</label>
    <input type="text" placeholder="Search for user by phone number" name="phoneNumber" id="phoneNumber" key="phone-number-input">
  </template><br>
  <button v-on:click="(searchType === 'name') ? searchType = 'other' : searchType = 'name'">Change search type</button>
</div>
<script>

  var app28 = new Vue ({
    el: '#app-28',
    data: {
      searchType: 'name'
    }
  })

</script>

<h3>v-show</h3>
<div id="app-29">
  <p v-show="display">Some text which may be displayed</p>
</div>
<script>
  var app29 = new Vue ({
    el: '#app-29',
    data: {
      display: true
    }
  })
</script>

<h2>List Rendering</h2>
<h3>Mapping an Array to Elements with v-for</h3>
<h4>Minimal example</h4>
<div id="app-30">
  <ul>
    <li v-for="fruit in fruits">
      {{ fruit.name }}
    </li>
  </ul>
</div>
<script>
  var app30 = new Vue ({
    el: '#app-30',
    data: {
      fruits: [
        { name: 'apple' },
        { name: 'pear' },
        { name: 'banana' }
      ]
    }
  })
</script>

<h4>Example with index</h4>
<div id="app-31">
  <ul>
    <li v-for="(fruit, index) of fruits">
      {{ 'Fruit: ' + fruit.name + ', Index: ' + index + ', Company: ' + company }}
    </li>
  </ul>
</div>
<script>
  var app31 = new Vue ({
    el: '#app-31',
    data: {
      fruits: [
        { name: 'apple' },
        { name: 'pear' },
        { name: 'banana' }
      ],
      company: 'Chippewa Valley Fruit Growers'
    }
  })
</script>

<h3>V-for with an Object</h3>
<div id="app-32">
  <p>Just values</p>
  <ul>
    <li v-for="value in flight">
      {{ value }}
    </li>
  </ul>
  <p>Keys and values</p>
  <ul>
    <li v-for="(value, key) in flight">
      {{ key + ': ' + value }}
    </li>
  </ul>
  <p>Keys, values, and indices</p>
  <ul>
    <li v-for="(value, key, index) in flight">
      {{ index + '. ' + key + ': ' + value }}
    </li>
  </ul>
</div>
<script>
  var app32 = new Vue ({
    el: '#app-32',
    data: {
      flight: {
        leavingFrom: 'Minneapolis',
        goingTo: 'Dallas',
        departureTime: '11:00 am',
        arrivalTime: '2:00 pm',
        passengerCount: '158'
      }
    }
  })
</script>

<h4>V-for with key</h4>
<div id="app-33">
  <ul>
    <li v-for="bird in birds" v-bind:key="bird.name">
      {{ bird.name }}
    </li>
  </ul>
</div>
<script>
  var app33 = new Vue ({
    el: '#app-33',
    data: {
      birds: [
        { name: 'robin' },
        { name: 'cardinal' },
        { name: 'blue jay' },
        { name: 'yellow bellied sap sucker' }
      ]
    }
  })
</script>

<h3>Array Change Detection</h3>
<h4>Mutation methods</h4>
Vue listens to array mutations including push(), pop(), shift(), unshift(), splice(), sort(), and reverse().

<h4>Replacing an Array</h4>
Non-mutating methods such as filter(), concat(), and slice() can also be used to update a list by replacing the current list with a new one.

<div id="app-34">
  <ul>
    <li v-for="tree in trees" v-bind:key="tree.name">
      {{ tree.name }}
    </li>
  </ul>
</div>
<script>
  var app35 = new Vue ({
    el: '#app-34',
    data: {
      trees: [
        { name: 'maple' },
        { name: 'elm' },
        { name: 'oak' },
      ]
    }
  })

  moreTrees = [
    { name: 'birch' },
    { name: 'pine' },
    { name: 'ash' }
  ];

  app35.trees = app35.trees.concat(moreTrees);
</script>

<h3>Displaying Filtered/Sorted Results</h3>
<h4>Filtering with Computed Values</h4>
<div id="app-36">
  <ul>
    <li v-for="num in oddNumbers">{{ num }}</li>
  </ul>
</div>
<script>
  var app36 = new Vue ({
    el: '#app-36',
    data: {
      numbers: [1, 2, 3, 4, 5, 6],

    },
    computed: {
      oddNumbers: function() {
        return this.numbers.filter(function(num) {
          return num % 2 === 1;
        });
      }
    }
  })
</script>

<h4>Filtering using a Method</h4>
<div id="app-37">
  <ul v-for="set in numberSets">
    <li v-for="num in filterOdd(set)">{{ num }}</li>
  </ul>
</div>
<script>
  var app37 = new Vue ({
    el: '#app-37',
    data: {
      numberSets: [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
    },
    methods: {
      filterOdd: function(numbers) {
        return numbers.filter(function(num) {
          return num % 2 === 1;
        })
      }
    }
  })
</script>

<h3>V-for with a range</h3>
<div id="app-38">
  <ul>
    <li v-for="n in 12">
      {{ n }}
    </li>
  </ul>
</div>
<script>
  var app38 = new Vue ({
    el: '#app-38',
  })
</script>

<h3>V-for with template</h3>
<div id="app-39">
  <ul>
    <template v-for="tree in trees">
      <li>{{ tree.name }}</li>
    </template>
  </ul>
</div>
<script>
  var app39 = new Vue ({
    el: '#app-39',
    data: {
      trees: [
        { name: 'maple' },
        { name: 'elm' },
        { name: 'oak' },
      ]
    }
  })
</script>

<h3>V-for with component</h3>
<div id="app-40">
  <form v-on:submit.prevent="addNewTodo">
    <label for="new-todo">Add todo</label>
    <input 
      type="text"
      v-model="newTodoText"
      id="new-todo"
      placeholder="Enter a todo item."
    >
    <button>Add</button>
  </form>
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
<script>
  Vue.component('todo-item', {
    template: '\
      <li>\
        {{ title }}\
        <button v-on:click="$emit(\'remove\')">Remove</button>\
      </li>\
    ',
    props: ['title']
  })

  var app40 = new Vue ({
    el: '#app-40',
    data: {
      todos: [
        {
          id: 1,
          title: 'Do the laundry'
        },
        {
          id: 2,
          title: 'Trim the hedges'
        },
        {
          id: 3,
          title: 'Polish the silver'
        }
      ],
      newTodoText: '',
      nextTodoId: 4
    },
    methods: {
      addNewTodo: function() {
        this.todos.push({
          id: this.nextTodoId++,
          title: this.newTodoText
        });
        this.newTodoText = '';
      }
    }
  })
</script>

<h2>Event Handling</h2>
<h3>Listening to events</h3>
<div id="app-41">
  <p>{{ msg }}</p>
  <button v-on:click="msg = 'Goodbye!'">Say Goodbye</button>
</div>
<script>
  var app41 = new Vue ({
    el: '#app-41',
    data: {
      msg: 'Hello!'
    }
  })
</script>

<h3>Method Event Handlers</h3>
<div id="app-42">
  <button v-on:click="tellTime">Get current time</button>
</div>
<script>
  var app42 = new Vue ({
    el: '#app-42',
    methods: {
      tellTime: function(event) {
        alert('The time is ' + (new Date()));

        if (event) {
          console.log(event.target.tagName);
        }
      }
    }
  })
</script>

<h3>Methods in Inline Handlers</h3>
<div id="app-43">
  <p>{{ msg }}</p>
  <button v-on:click="setMessage('Hello!', $event)">Say hello</button>
  <button v-on:click="setMessage('Goodbye!', $event)">Say goodbye</button>
</div>
<script>
  var app43 = new Vue ({
    el: '#app-43',
    data: {
      msg: 'Message goes here.'
    },
    methods: {
      setMessage: function(message, event) {
        this.msg = message;
        console.log(event);
      },
    }
  })
</script>

<h3>Event Modifiers</h3>
<h4>Preventing default</h4>
<div id="app-44">
  <form action="/" v-on:submit.prevent="onSubmit">
    <p>{{ msg }}</p>
    <button>Submitting this form</button>
  </form>
</div>
<script>
  var app44 = new Vue ({
    el: '#app-44',
    data: {
      msg: 'Message goes here.'
    },
    methods: {
      onSubmit: function() {
        this.msg = 'This form was prevented from submitting.'
      }
    }
  })
</script>

<h4>Stopping propogation</h4>
<div id="app-45">
  <div v-on:click="notify">
    <button v-on:click.stop="doNotPropogate">Click here</button>
  </div>
</div>
<script>
  var app45 = new Vue ({
    el: '#app-45',
    methods: {
      notify: function() {
        alert('You shouldn\'t see this.')
      },
      doNotPropogate: function() {
        alert('You should see this.');
      }
    }
  })
</script>

<h3>Key Modifiers</h3>
<div id="app-46">
  <p>{{ msg }}</p>
  <input type="text" v-on:keyup.enter="changeMessage">
</div>
<script>
  var app46 = new Vue ({
    el: '#app-46',
    data: {
      msg: 'Some message'
    },
    methods: {
      changeMessage: function(event) {
        this.msg = event.target.value;
      }
    }
  })
</script>

<h3>System Modifier Keys</h3>
<style>
  .orange-box {
    background-color: orange;
    width: 100px;
    height: 100px;
  }
</style>
<div id="app-47">
  <p>META + click on box to change color. This will work with other keys pressed as well.</p>
  <div class="orange-box" v-on:click.meta="changeColor"></div>
</div>
<script>
  var app47 = new Vue ({
    el: '#app-47',
    methods: {
      changeColor: function(event) {
        event.preventDefault();
        event.target.style.backgroundColor = 'purple';
      }
    }
  })
</script>

<h4>Exact modifier</h4>
<div id="app-48">
  <p>META + click on box to change color. This won't work if other keys are pressed at the same time.</p>
  <div class="orange-box" v-on:click.meta.exact="changeColor"></div>
</div>
<script>
  var app48 = new Vue ({
    el: '#app-48',
    methods: {
      changeColor: function(event) {
        event.preventDefault();
        event.target.style.backgroundColor = 'purple';
      }
    }
  })
</script>

<h2>Form Input Bindings</h2>
<h3>Basic Usage</h3>
<h4>Text</h4>
<div id="app-49">
  <input type="text" v-model="msg">
  <p>{{ msg }}</p>
</div>
<script>
  var app49 = new Vue ({
    el: '#app-49',
    data: {
      msg: 'Some message'
    }
  })
</script>

<h4>Multi-line text</h4>
<div id="app-50">
  <p>Here's some multi-line text:</p>
  <p style="white-space:pre;">{{ message }}</p>
  <textarea v-model="message" placeholder="Add some text."></textarea>
</div>
<script>

  var app50 = new Vue({
    el: '#app-50',
    data: {
      message: ''
    }
  });

</script>

<h4>Single Checkbox</h4>
<div id="app-51">
  <p>Single checkbox, boolean value</p>
  <input type="checkbox" id="some-value" v-model="someValue">
  <label for="some-value">{{ someValue }}</label>
</div>
<script>

var app51 = new Vue({
  el: '#app-51',
  data: {
    someValue: false
  }
});

</script>

<h4>Multiple Checkboxes</h4>
<div id="app-52">
  <p>Multiple checkboxes bound to the same array</p>
  <input type="checkbox" id="banana" value="banana" v-model="checkedFruit">
  <label for="banana">banana</label>
  <input type="checkbox" id="pear" value="pear" v-model="checkedFruit">
  <label for="pear">pear</label>
  <input type="checkbox" id="apple" value="apple" v-model="checkedFruit">
  <label for="apple">apple</label>
  <input type="checkbox" id="grape" value="grape" v-model="checkedFruit">
  <label for="grape">grape</label>
  <p>{{ checkedFruit }}</p>
</div>
<script>

  var app52 = new Vue({
    el: '#app-52',
    data: {
      checkedFruit: []
    }
  });

</script>

<h4>Radio</h4>
<div id="app-53">
  <input type="radio" id="banana" value="banana" v-model="picked">
  <label for="banana">banana</label>
  <input type="radio" id="strawberry" value="strawberry" v-model="picked">
  <label for="strawberry">strawberry</label>
  <p>Picked: {{ picked }}</p>
</div>
<script>

  var app53 = new Vue({
    el: '#app-53',
    data: {
      picked: []
    }
  });

</script>

<h4>Select</h4>
<div id="app-54">
  <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option value="apple">apple</option>
    <option value="pear">pear</option>
    <option value="grape">grape</option>
    <option value="banana">banana</option>
  </select>
  <p>Selected: {{ selected }}</p>
</div>
<script>

  var app54 = new Vue({
    el: '#app-54',
    data: {
      selected: []
    }
  });

</script>

<h4>Multiple Select</h4>
<div id="app-55">
  <select v-model="selected" multiple>
    <option disabled value="">Please select as many as you like</option>
    <option value="apple">apple</option>
    <option value="pear">pear</option>
    <option value="grape">grape</option>
    <option value="banana">banana</option>
  </select>
  <p>Selected: {{ selected }}</p>
</div>
<script>

  var app55 = new Vue({
    el: '#app-55',
    data: {
      selected: []
    }
  });

</script>

<h4>Select with dynamic options</h4>
<div id="app-56">
  <select v-model="selected">
    <option v-bind:value="option.value" v-for="option in options" v-bind:key="option.text">{{ option.text }}</option>
  </select>
  <p>Selected: {{ selected }}</p>
</div>
<script>

  var app56 = new Vue({
    el: '#app-56',
    data: {
      selected: [],
      options: [
        { text: 'banana', value: 'bn' },
        { text: 'apple', value: 'ap' },
        { text: 'pear', value: 'pr' },
        { text: 'grape', value: 'gr' }
      ]
    }
  });

</script>

<h3>Value Bindings</h3>
<h4>Checkbox</h4>
<div id="app-57">
  <input type="checkbox" v-model="toggle" true-value="on" false-value="off">
  <p>{{ toggle }}</p>
</div>
<script>

  var app57 = new Vue({
    el: '#app-57',
    data: {
      toggle: ''
    }
  });

</script>

<h4>Radio</h4>
<div id="app-58">
  <form>
    <input type="radio" name="fruit" id="banana" v-bind:value="banana" v-model="pickedFruit">
    <label for="banana">banana</label>
    <input type="radio" name="fruit" id="orange" v-bind:value="orange" v-model="pickedFruit">
    <label for="orange">orange</label>
    <input type="radio" name="fruit" id="grape" v-bind:value="grape" v-model="pickedFruit">
    <label for="grape">grape</label>  
  </form>
  <p>Picked fruit: {{ pickedFruit }}</p>
</div>
<script>

  var app58 = new Vue({
    el: '#app-58',
    data: {
      banana: 'banana surprise',
      orange: 'orange creamsicle',
      grape: 'super grape',
      pickedFruit: ''
    }
  });

</script>

<h4>Select</h4>
<div id="app-59">
  <select v-model="pickedVeggie">
    <option :value="{ tomato: 'grape tomato' }">tomato</option>
    <option :value="{ bean: 'green bean' }">bean</option>
    <option :value="{ corn: 'sweet corn' }">tomato</option>
  </select>
  <p>Selected vegetable: {{ pickedVeggie }}</p>
</div>
<script>

  var app59 = new Vue({
    el: '#app-59',
    data: {
      pickedVeggie: ''
    }
  });

</script>

<h3>Modifiers</h3>
<h4>.lazy</h4>
<h5>Change v-model for an element on `change` instead of `input`</h5>
<div id="app-60">
  <input type="text" v-model="msg" placeholder="type something">
  <p>This changes every time you change the input: {{ msg }}</p>
</div>
<script>

  var app60 = new Vue({
    el: '#app-60',
    data: {
      msg: ''
    }
  });

</script>
<div id="app-61">
  <input type="text" v-model.lazy="msg" placeholder="type something">
  <p>This changes after you leave the input (blur): {{ msg }}</p>
</div>
<script>

  var app61 = new Vue({
    el: '#app-61',
    data: {
      msg: ''
    }
  });

</script>
<!-- Start with: https://vuejs.org/v2/guide/forms.html#Select-Options
file:///home/brianhilson/Desktop/github_repos/vue-learning-projects/first-vue-app.html -->
<script>

  // scroll to bottom
  window.scrollTo(0,document.body.scrollHeight);

</script>
</body>
</html>
